.project-theme {
    text-align: center;
    color: black;
}

.course-theme:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}

.div-button {
    text-align: center;
}

.div-image {
    display: none;
}

.do-margin {
    margin-top: 20px;
}

.div-image.active {
    display: block;
    text-align: center;
}

.text-upload {
    font-size: 20px;
}

#canvas-pvc {
    width: border-box;
}

body {
    background-color: #e6e7ff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(210, 211, 232);
}

.content {
    flex: 1 0 auto;
}

.footer-about {
    flex: 0 0 auto;
    padding: 5px;
    background-color: rgb(210, 211, 232);
}
