.сourse-theme {
    text-align: center;
    color: black;
}

.course-theme:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}

.div-button {
    text-align: center;
}

.div_image {
    display: none;
}

.do-margin {
    margin-top: 20px;
}

.div_image.visited {
    display: block;
    text-align: center;
}

.text-upload {
    font-size: 20px;
}

body {
    background-color: #e6e7ff;
}

/*TODO: Настроить расположение футера*/
.content {
    height: 94vh;
}

.footer-about {
    height: min-content;
}
