.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}
.modal_vis {
    display: block;
}
.body_block {
    overflow: hidden;
    margin-right: 17px;
}

#close_modal {
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    box-sizing: content-box;
}

.modal_txt {
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background: #FFF;
    padding: 30px;
    margin: 100px auto;
    max-width: 800px;
}

#modal-button {
    margin-top: 10px;
}