.project-theme {
    text-align: center;
    color: black;
}

.div-button {
    text-align: center;
}

.div-image {
    display: none;
}

.div-image.active {
    display: block;
    text-align: center;
}

.text-upload {
    font-size: 20px;
}

#div-canvas {
    position: relative;
}

#canvas-pvc, #canvas-rect {
    position:absolute; top: 0; left: 0;
}

body {
    background-color: #e6e7ff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(210, 211, 232);
}

.content {
    flex: 1 0 auto;
}

.footer-about {
    flex: 0 0 auto;
    padding: 5px;
    background-color: rgb(210, 211, 232);
}
