.div-table{
    display: block;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table{
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}